.container {
    max-width: 970px;
    margin: 0 auto;
    .card {
        margin-top: 50px;
        padding: 40px;
        box-shadow: 0px 0px 90px #d0ddff;
        border-radius: 15px;
        .header {
            &-title, h1 {
                font-size: 36px;
                line-height: 45px;
                font-weight: 500;
            }
        }
        hr.yellow {
            height: 8px;
            border-radius: 100px;
            width: 40%;
            margin: 20px 0;
            background-color: #c300ff;
        }
    }
}
