.theme-inverse-btn {
  border-radius: 100px;
  background: rgb(71, 78, 208);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 5px 80px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
  color: rgb(224, 231, 239) !important;
  box-shadow: 0px 5px 10px #ccc;
}

.theme-btn {
  border-radius: 100px;
  background: #00203fff;
  color: #adefd1ff;
  padding: 5px 80px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
}
